ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    
  }
  ul.breadcrumb li {
     
      font-size: 16px;
      color: yellow;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: white;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #f0f0f0;
    text-decoration: underline;
  }