 /* Adjust table layout to auto, so content-based widths will be applied */
 .table {
    table-layout: auto;
}
/* Allow large content to wrap inside table cells */
.table td {
    word-wrap: break-word;
    white-space: normal;
}
/* Optionally, set column width for specific columns (for example, the "Attributes" column) */
.table td.attributes-column {
    max-width: 300px; /* Adjust this width as needed */
    word-wrap: break-word;
    white-space: normal;
}



#bb
{background: #2A3F54;
    color: white;
    width: 150px;
}


.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
}


@media (max-width: 768px) {
    table {
        font-size: 12px; 
    }
    th, td {
        padding: 8px; 
    }
    th {
        white-space: nowrap; 
    }
}



#send-letter{
    font-size: 14px;
}

.alert-success {
    color: #fff;
    background-color: rgba(38, 185, 154, .88);
    border-color: rgba(38, 185, 154, .88);
}
/* Additional styling for the table */
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.rec-list_head{
    background-color: white;
}
label{
    color: black;
    font-weight: bold;
}
@media(max-width:767px){
    .workcenter{
    text-align: center;
}
.work-order-No{
    font-size: 15px !important;
}
.note{
    margin:12px !important ;
}
}




.modal-content {
    border-radius: 15px;
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border: none;
}

.modal-header {
    background-color: #2f80ed; 
    color: white;
    
}

.panel-header{
    border:1px solid;
    background-color: slategray;
    color: white;
    border-radius: 5px;
    align-items: center;
    color: white;
}
 

.modal-content {
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.modal-header {
    background-color: #007bff;
    border-bottom: none;
}

.field-container {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.field-container label {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
}

.field-container span {
    font-size: 0.9rem;
    color: #555;
}

.modal-body {
    padding: 20px;
}

.row {
    margin-bottom: 15px;
}

.calculation-criteria{
    font-size: 13px;
}


.form-label {
    font-weight: bold;
    
}


.form-control:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}


.card {
    background: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}


.form-control {
    background-color: whitesmoke;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#remove-btn{
    display: none;
}

.panel_1 {
    background-color: whitesmoke ;
    /* border-radius: 8px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    /* margin-top: 30px; */
    width: 100%;
    border: 1px solid white;
    margin-bottom: 20px;

}


.leave-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
}

.leave-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.leave-box p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.leave-box span {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
}

.leave-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.row-divider {
    margin: 15px 0;
}


.styled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.styled-list li {
    margin-bottom: 8px; 
    padding: 8px 12px; 
    display: flex;
    justify-content: space-between; 
    
   
}

.styled-list li span {
    font-weight: 900; 
    font-size: 15px;
    color: black;
}
.payment li {
    font-weight: 900; 
    font-size: 15px;
    color: black;
    padding-top: 5px;
}

.payment p{
    font-weight: 900; 
    font-size: 15px;
    color: black;
    padding-top: 5px;

}

@media(max-width:426px){
    #invoice-center{
        
       padding: 0px 20px 0px 30px
    }
    .prakhrar-heading{
        font-size: 17px;
    }
}


/* Applicant Form */



#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  
  position: relative;
}




#msform fieldset:not(:first-of-type) {
  display: none;
}


/*Next Buttons*/
#msform .action-button {
  width: 100px;
  background: #0D99FF;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 12px 10px 5px;
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #0b5ed7;


}

/*Previous Buttons*/
#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

/*The background card*/
.card {
  z-index: 0;
  border: none;
  position: relative;
}

/*FieldSet headings*/
.fs-title {
  font-size: 25px;
  color: slategray;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: slategray;
  font-weight: normal;
}

/*Step Count*/
.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

/*Field names*/
.fieldlabels {
  color: gray;
  text-align: left;
}


#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: slategray;
}

#progressbar li {
  list-style-type: none;
  font-size: 10px;
  width: 16%;
  float: left;
  position: relative;
  font-weight: 400;
}


#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f058";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f2b5";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

/* Employee Code */
#progressbar .employee-code:before {
  font-family: FontAwesome;
  content: "\f15b";
}

#progressbar li:before {
  width: 34px;
  height: 38px;
  line-height: 36px;
  display: block;
  font-size: 15px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 2px auto 5px auto;
  padding: 1px;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}


#progressbar li.active:before,
#progressbar li.active:after {
  background: slategray;
}

#progressbar li.reject:before,
#progressbar li.reject:after {
  background: red;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: slategray;
}


.fit-image {
  width: 100%;
  object-fit: cover;
}

.parent-id {
  position: relative;

}

#shortlisted {
  position: absolute;
  top: 190px;
  left: 120px;
  z-index: 2;
}

#confirmationOfferLetter {
  display: none;
}


#NICSI-case{
  display: none;
}

.pera-design{
  font-size: 13px
}

.position-status-column{
  display: none;

}

.offer-letter-column{
  display: none;
}

.position-status-column{
  display: none;
}

#position-coloumn{
  display: none;
}
#background_image{
  background-image: url('../images/background_image.jpg');
  width: 100%;
  height:100vh;
  background-repeat: repeat;
  background-position: center;
}

.both-status-column{
    display: none;
}

/* .bb
{
  background-color: #2A3F54;
  color: white;
  width: 150px;
} */
#background_image_1{
  background-image: url('../images/background_image.jpg');
  width: 100%;
  height:auto;
  /* background-repeat: no-repeat;
  background-position: center; */

}


.form-group {
  margin-bottom: 1.25rem;
}
#background_image {
  background-color: #F4F4F9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#form_design{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding: 2rem;
  transition: all 0.3s ease;
  width: 100%; 
  max-width: 800px;
}
@media (max-width: 768px) {
  form {
      padding: 1.5rem;
  }
  .btn {
      width: 100%;
  }
}

#twelthe_showing{
  display: none;
}

#graduation_showing{
  display: none;
}
#postgraduation_showing{
  display: none;
}

.ESI_Input-field{
  display: none;
}

.relation_nominee{
  /* display: none; */
  height: 100vh;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6),
.tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7) {
  display: block;
}

/*
 Styling
*/

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

input:focus-visible + label {
  outline: 2px solid rgba(0,102,204,1);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: slategray;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}



.tabset {
  max-width: 65em;
}




/* Acceptance Form  Modal css Terms and Condtions  */



input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.termsAndConditions{
  z-index: 1000;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-color:rgb(255,255,255);
  transform: translate(-50%, -50%);
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: all .2s;
  backface-visibility: hidden;
}
.termsAndConditionsHeading{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 32px;
}
.termsParagraphIntro{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.serviceLeadingSection{
  width: 80%;
  margin-top: 15px;
  margin-bottom:15px;
}
.sn{
  font-size: 32px;
  padding-right: 5px;
}
.st{
  font-size: 32px;
}
.spl{
  margin-top: 15px;
  margin-bottom: 15px;

}
.serviceInfoContainer{
  position:relative;
  width: 100%;    
}
.serviceLead{
  font-weight: 700;
  margin-left: 15px;  
  margin-top: 15px;
  margin-block-end: 5px;  

}
.serviceDetails{
  margin-left: 15px;
}

.displayNone{
  display:none;
}
.secionLine{
  height: 40px;
  width:5px;

  position:absolute;
  top:7px;
}
/*Font Colours below*/
.lightGreen{
  color: rgb(85, 189, 134);
}
.blue{
  color: #2998ff;
}
.orange{
  color: #ff7730;
}
.purple{
  color: #2a0073
}

/*Set the colours for the lines*/

.lineColorGreen{
  background-image: linear-gradient(to right bottom, rgb(85, 189, 134), rgb(11, 103, 92));
}
.lineColorBlue{
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.lineColorOrange{
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.lineColorPurple{
  background-image: linear-gradient(to bottom right, #b25f88, #2a0073)
}
.closeTerms{
  border-bottom: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.fadeIn{
  animation-name: fadeIn;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  z-index: 1001;
}

@keyframes fadeIn{
  0% {

    opacity: 0;
  }
  100%{

    opacity: 1;
  }
}










