 /* Adjust table layout to auto, so content-based widths will be applied */
 .table {
    table-layout: auto;
}
/* Allow large content to wrap inside table cells */
.table td {
    word-wrap: break-word;
    white-space: normal;
}
/* Optionally, set column width for specific columns (for example, the "Attributes" column) */
.table td.attributes-column {
    max-width: 300px; /* Adjust this width as needed */
    word-wrap: break-word;
    white-space: normal;
}
.table td.srno-column {
    width: 50px; /* Fix the width for small content columns */
}
.table td.rid-column {
    width: 100px; /* Fix the width for small content columns */
}


#bb
{background: #2A3F54;
    color: white;
    width: 150px;
}

/* Ensure the table is scrollable on smaller screens */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* For smoother scrolling on mobile devices */
}

/* Style adjustments for smaller devices */
@media (max-width: 768px) {
    table {
        font-size: 12px; /* Smaller font size on smaller screens */
    }
    th, td {
        padding: 8px; /* Reduce padding on smaller screens */
    }
    th {
        white-space: nowrap; /* Prevent text from wrapping */
    }
}



#send-letter{
    font-size: 14px;
}

.alert-success {
    color: #fff;
    background-color: rgba(38, 185, 154, .88);
    border-color: rgba(38, 185, 154, .88);
}
/* Additional styling for the table */
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.rec-list_head{
    background-color: white;
}
label{
    color: black;
    font-weight: bold;
}
@media(max-width:767px){
    .workcenter{
    text-align: center;
}
.work-order-No{
    font-size: 15px !important;
}
.note{
    margin:12px !important ;
}
}




.modal-content {
    border-radius: 15px;
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border: none;
}

.modal-header {
    background-color: #2f80ed; 
    color: white;
    border-radius: 15px 15px 0 0; 
}


















/* Responsive Design for Small Screens */







